@media only screen and (max-width: 600px) {
  /* For mobile: */
  .nonmobile-body {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets or larger: */
  .mobile-body {
    display:none;
  }

  .nonmobile-body {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop if needed: */

}
