@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap&text=%E2%86%90|%E2%86%92');

$theme-font: 'Lato',
sans-serif;
$base-size: 16px;

$body-margin: 0px;
$body-bg: $white;
$body-color: $charcoal;

:root {
  --primary: #414042;
  --background: #F9F9F9;
  --secondary: #828282;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $theme-font;
  background-color: var(--background);
  color: var(--primary);
  margin: $body-margin;
}

h1, h2, h3 { margin: 0 };

h1 {
  font-size: $base-size * 4.575;
}

h2 {
  font-size: $base-size * 2.34375;
}

h3 {
  font-size: $base-size * 1.875;
}

p {
  font-size: $base-size * 1.5;
  line-height: 144.2%;

  &.p_size_s {
    font-size: $base-size;
    line-height: 105.2%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.nonmobile-body {
  padding: 0 3vw;
}

.display-block {
  display: block !important;
}

.yellow {
  color: $yellow;
}
