svg {
  margin-top: 3vh;
  width: 95vw;
  height: auto;
}

.drawing {
  stroke-dasharray: 88947;
  stroke-dashoffset: 88947;
  stroke-width: 70;
  stroke: var(--primary);
}

.drawing--animate {
  animation: draw 7s ease-in forwards;
}

@keyframes draw {
  from {
    stroke-dashoffset: 88947;
  }
  to {
    stroke-dashoffset: 0;
  }
}
