.browser-konami-code {
  font-family: 'Press Start 2P', 'Lato';
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 3vw;
  background: var(--background);

  z-index: 5;
  span {
    display: none;
  }
}
