.navbar-menu {
  position: fixed;
  width: 100vw;
  height: 0vh;
  background-color: var(--background);
  z-index: -1;
  transition: all 1s ease;
  opacity: 0;


  &.navbar-menu--active {
    opacity: 1;
    z-index: 2;
    height: 100vh;
    padding-top: 20vh;
  }

  .navbar-menu__logo {
    opacity: 0;
    height: 3rem;
    position: absolute;
    top: 2vh;
    left: 4vw;
    transition: opacity 0.5s ease-in-out;
  }
  &.navbar-menu--active .navbar-menu__logo {
    opacity: 1;
  }

  .navbar-menu__links-list {
    width: 80vw;
    opacity: 0;
    list-style: none;
    padding-left: 1.5em;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.5s;

    li {
      margin-bottom: 1em;
      font-size: $base-size * 2.34375;
      font-weight: bolder;
      pointer-events: none;
    }

    li:last-child { margin-bottom: 0; }
  }

  &.navbar-menu--active .navbar-menu__links-list {
    opacity: 1;

    li { pointer-events: all; }
  }

  .navbar-menu__contact {
    font-size: $base-size * 1.5;
    margin: 0;
    position: absolute;
    top: 94vh;
    width: 100vw;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.7s;
    color: $gray;
    pointer-events: none;
  }

  &.navbar-menu--active .navbar-menu__contact {
    opacity: 1;
    pointer-events: all;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets or larger: */
  .browser-navbar {
    text-align: end;
    position: fixed;
    right: 2vw;
    top: 0;
    transition: top 0.5s ease-in-out;
    z-index: 15;
    background-color: var(--background);
  }

  .browser-navbar__links-list {
    list-style: none;
    display: flex;


    li {
      font-size: $base-size * 1.5;
      margin-left: 3vw;
      position: relative;
      display: inline-block;

      &:before {
        content: "";
        border-bottom: 0.2em solid $yellow;
        position: absolute;
        width: 0%;
        bottom: 0.12em;
        left: -5%;
        z-index: -1;
        transition: 0.5s;
      }

      &:hover:before {
        width: 110%;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop if needed: */
}
