.partner-list {
  margin: 6vh 0 4vh 0;
  list-style: none;
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  overflow-x: scroll;

  &::-webkit-scrollbar { display: none; }

}

.partner-list__item img {
  height: auto;
  width: $base-size * 15;
  opacity: 0.6;
  transition: all 0.3s linear;
  transform: scale(0.98);
  &:hover {
    opacity: 1;
    transform: scale(1.02);
  }
}
.partner-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2vw;
}

@media only screen and (min-width: 600px) {
  /* For tablets or larger: */
}

@media only screen and (min-width: 768px) {
  /* For desktop if needed: */
}
