.portfolio-card {
  display: flex;
  margin-top: 25vh;
  align-items: center;
}

.portfolio-card-info {
  padding-right: 4vw;
  .portfolio-card-info__tags {
    display: flex;
  }
  .portfolio-card-info__context {
    color: var(--secondary);
  }
}

.portfolio-card--inverse {
  .portfolio-card-info {
    padding-left: 4vw;
  }
}

.portfolio-card-info__tags {
  p {
    margin-right: 1em;
  }
}

.portfolio-card-display {
  height: 400px;
  position: relative;
  flex-grow: 1;

  .portfolio-card-display__background,
  .portfolio-card-display__image {
    position: relative;
  }
}

.portfolio-card-display__background {
  width: 100%;
  height: 100%;
  background:$black;
  border-radius: 2px;
}

.portfolio-card-display__image {
  width: 580px;
  right: -50px;
  bottom: 120px;
  transform: rotate(3deg);
  .portfolio-card-display__image--baybe {
    margin-top: 60px;
    margin-left: -80px;
  }
  .portfolio-card-display__image--mangotree {
    margin-top: 80px;
    margin-left: 40px;
  }
  .portfolio-card-display__image--gate-zero {
    margin-top: 40px;
    margin-left: 60px;
  }
  .portfolio-card-display__image--carinspect {
    margin-top: 60px;
    margin-left: -70px;
    transform: rotate(3deg);
  }

}


