.skills-display {
  flex-grow: 1;
  width: auto;
  height: 40% ;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  img {
    display: none;
    max-width: 60px;
    height: auto;
  }
  p {
    display: none;
    opacity: 1;
    font-size: $base-size * 1.875;
  }
}

.skills-display.design {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3vw;
}
