.skills-display {
  flex-grow: 1;
  width: auto;
  height: 50% ;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 1rem;
  img {
    display: none;
    max-width: 60px;
    height: auto;
  }
}
