.team-transition {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    font-size: $base-size * 1.5;
  }
}


.team-transition--part-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 6vw;
  .team-transition_nico--part-one {
    transform: scaleX(-1);
  }
}
