.team-scroll-wrapper {
  flex-direction: column;
  margin: 12vh 0;
  align-items: center;
  display: grid;
  grid-gap: 6vw;
  grid-template-columns: 6vw 12vw repeat(5, 80vw) 20vw 6vw;
  grid-template-rows: minmax(120px, auto);

  overflow-x: scroll;
  scroll-snap-type: x proximity;

  &::-webkit-scrollbar { display: none; }

  ul {
    list-style-type: "→ ";
    padding-right: 6vw;
  }

  .team-scroll-wrapper__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .team-scroll-wrapper__item--nico img{
    transform: scaleX(-1);
  }

  .team-scroll-wrapper__item li {
    font-size: $base-size * 1.5;
  }

  .team-scroll-wrapper__item--team {
    text-align: left;
    padding-left: 6vw;
  }
}



.team-scroll-wrapper:before,
.team-scroll-wrapper:after {
  content: '';
}


.team-scroll-wrapper__item:first-child {
  font-size: $base-size * 1.5;
  animation: slide-left 2s ease-in-out infinite;
}

.team-scroll-wrapper__item:last-child {
  align-items: start;
  font-size: $base-size * 1.5;
  animation: slide-right 2s ease-in-out infinite;
}


.team-scroll-card {
  position: relative;
  width: 300px;
  height: 200px;
}

.team-scroll-card > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.team-scroll-card__image {
  display: block;
}

.team-scroll-card__fig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;

  opacity: 0;
  font-size: $base-size * 1.5;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);

  transition: opacity 300ms ease;
  em {
    padding: 0.5em;
  }
}

.team-scroll-card:hover .team-scroll-card__fig,
.card:focus-within .team-scroll-card__fig {
  opacity: 1;
}

@keyframes slide-right {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 0);
  }
}

@keyframes slide-left {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, 0);
  }
}




