.primary-title {
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;

  i {
    cursor: pointer;
    transition: clip-path 3s;
    font-size: $base-size * 1.5;
    margin-left: 0.5em;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    clip-path: ellipse(100% 100% at 50% 50%); // Three lines

    &.sound-icon--active {
      animation: volume-efect 4s linear infinite;
    }
  }

  .primary-title__piece--underline {
    position: relative;
    font-weight: lighter;

    &::before {
      content: "";
      border-bottom: 0.4em solid $yellow;
      position: absolute;
      width: 100%;
      bottom: 0.05em;
      left: 0.03em;
      z-index: -1;
    }

  }
}

.primary-title.expanded {
  .primary-title__piece--with-dot {
    transition: margin 700ms ease-in-out;
    margin-right: 0.5em;

    &::after {
      content: ".";
      position: absolute;
      bottom: 20%;
      margin-left: 0.15em;
      color: $yellow;
      animation: appear 1.5s normal ease-in-out;
    }
  }

  i { opacity: 1; }
}

@keyframes appear {
  0% { opacity: 0 ;}
  100% { opacity: 1;}
}

@keyframes volume-efect {
  0% {
    clip-path: ellipse(100% 100% at 50% 50%); // Three lines
  }
  17% {
    clip-path: ellipse(59% 41% at 32% 50%); // Two lines
  }
  34% {
    clip-path: ellipse(46% 41% at 26% 50%); // One line
  }
  49% {
    clip-path: ellipse(49% 71% at 0% 51%);
  }
  68% {
    clip-path: ellipse(46% 41% at 26% 50%); // One line
  }
  85% {
    clip-path: ellipse(59% 41% at 32% 50%); // Two lines
  }
  100% {
    clip-path: ellipse(100% 100% at 50% 50%); // Three lines
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets or larger: */
  .primary-title.expanded i {
    font-size: $base-size * 2.34375;
  }

  .primary-title.expanded {
    justify-content: flex-end;
    margin-top: 10vh;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop if needed: */

}
