.video-modal {
  transition: all 0.5s ease-out;
  opacity: 0;
  background-color: rgba($black, 0.99);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  pointer-events: none;

  &.video-modal__active {
    opacity: 1;
    pointer-events: all;
  }

  .modal-close-icon {
    position: fixed;
    top: 1vh;
    left: 1vh;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    z-index: 3;

    &::before,
    &::after {
      content: '';
      color: $white;
      position: absolute;
      width: $base-size * 2.5;
      height: 0.2rem;
      background: var(--primary);
      transition: 0.5s;
    }

    &::before {
      top: $base-size * 1.5;
      transform: rotate(45deg);
    }

    &::after {
      top: $base-size * 1.5;
      transform: rotate(135deg);
    }
  }
}

.embed-container {
  --video--width: 1296;
  --video--height: 540;

  padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
  /* 41.66666667% */
  overflow: hidden;
  max-width: 100%;
  background: black;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 80%;
}
