.define-btn {
  text-align: right;
  margin: 0 28vw 0 auto;
  font-size: $base-size * 1.5;
  font-weight: lighter;
  transition: all 700ms ease-in-out;
  z-index: 1;
  position: relative;

  &::after {
    position: absolute;
    content: '→';
    margin-left: 0.3em;
    display: inline-block;
    animation: slide 2s ease-in-out infinite;
  }

  &:hover { cursor: pointer; }

  &.define-btn--disabled {
    pointer-events: none;
    opacity: 0;
  }
}

// TODO: Try to make it transform to bolder
@keyframes slide {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 0);
  }
}

.schedule-btn {
  color: $charcoal;
  text-decoration: none;
 i {
   transition: 0.5s;
   color: $charcoal;
 }
}

.schedule-btn:hover {
  cursor: pointer;
  i {
    color: $yellow;
  }
}

.schedule-btn__text--underline {
  position: relative;
  display: inline-block;

  &:before {
    content: "";
    border-bottom: 0.4em solid $yellow;
    position: absolute;
    width: 0%;
    bottom: 0.12em;
    left: 0.03em;
    z-index: -1;
    transition: 0.5s;
  }

  &:hover:before {
    width: 100%;
  }
}
