.navbar-menu {
  position: fixed;
  width: 100vw;
  height: 0vh;
  background-color: $white;
  z-index: -1;
  transition: all 1s ease;
  opacity: 0;


  &.navbar-menu--active {
    opacity: 1;
    z-index: 2;
    height: 100vh;
    padding-top: 30vh;
  }

  .navbar-menu__logo {
    opacity: 0;
    height: 3rem;
    position: absolute;
    top: 2vh;
    left: 4vw;
    transition: opacity 0.5s ease-in-out;
  }
  &.navbar-menu--active .navbar-menu__logo {
    opacity: 1;
  }

  .navbar-menu__links-list {
    width: 80vw;
    opacity: 0;
    list-style: none;
    padding-left: 1.5em;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.5s;

    // TODO: What are we doing with the underline that doesn't work in mobile?
    li {
      margin-bottom: 1em;
      font-size: $base-size * 2.34375;
      font-weight: bolder;
      pointer-events: none;
    }

    li:last-child { margin-bottom: 0; }
  }

  &.navbar-menu--active .navbar-menu__links-list {
    opacity: 1;

    li { pointer-events: all; }
  }

  .navbar-menu__contact {
    font-size: $base-size * 1.5;
    margin: 0;
    position: absolute;
    top: 94vh;
    width: 100vw;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.7s;
    color: $gray;
    pointer-events: none;
  }

  &.navbar-menu--active .navbar-menu__contact {
    opacity: 1;
    pointer-events: all;
  }
}
