@import 'titles';
@import 'buttons';
@import 'texts';
@import 'drawing';
@import 'contacts-bar';
@import 'burger-icon';
@import 'navbar';
@import 'partner-scroll';
@import 'team-scroll';
@import 'portfolio-scroll';
@import 'skills-scroll';
@import 'partner-list';
@import 'team-transition';
@import 'skills-display';
@import 'portfolio-card';
@import 'design-text';
@import 'flashlight';
@import 'konami-code';
