.primary-title {
  display: flex;
  position: relative;
  align-items: center;

  i {
    font-size: $base-size * 1.5;
    margin-left: 0.5em;
    opacity: 0;
    transition: opacity 1500ms ease-in-out;
  }

  .primary-title__piece--underline {
    position: relative;
    font-weight: lighter;

    &::before {
      content: "";
      border-bottom: 0.4em solid $yellow;
      position: absolute;
      width: 100%;
      bottom: 0.05em;
      left: 0.03em;
      z-index: -1;
    }

  }
}

.primary-title.expanded {
  .primary-title__piece--with-dot {
    transition: margin 700ms ease-in-out;
    margin-right: 0.5em;

    &::after {
      content: ".";
      position: absolute;
      bottom: 20%;
      margin-left: 0.15em;
      color: $yellow;
      animation: appear 1.5s normal ease-in-out;
    }
  }

  i {
    opacity: 1;
  }
}

@keyframes appear {
  0% { opacity: 0 ;}
  100% { opacity: 1;}
}
