.partner-scroll-wrapper {
  margin: 8vh 0;
  list-style: none;
  padding: 0;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-gap: 3vw;
  grid-template-columns: 12vw repeat(7, $base-size * 13);
  grid-template-rows: minmax(80px, 1fr);

  overflow-x: scroll;
  scroll-snap-type: x proximity;

  &::-webkit-scrollbar { display: none; }
}

.partner-scroll-wrapper:before {
  content: '';
}
.partner-scroll-wrapper__item img {
  height: auto;
  width: $base-size * 12;
  margin-right: 16vw;
}
.partner-scroll-wrapper__item {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partner-scroll-wrapper__item img {
  opacity: 0.6;
  transition: all 0.3s linear;
  transform: scale(0.98);
  &:hover {
    opacity: 1;
    transform: scale(1.02);
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets or larger: */
  .partner-scroll-wrapper__item img {
    margin-right: 2vw;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop if needed: */
}
