.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4vw;
  position: relative;

  .angle-down {
    position: absolute;
    bottom: 1%;
    left: 50%;
    width: $base-size;
    height: $base-size;
    background: transparent;
    border-top: 1px solid $gray;
    border-left: 1px solid $gray;
    transform: rotate(-135deg);
    animation: bounce 2s infinite;
  }
}

.definition-list {
  position: absolute;
  top: 52vh;
  width: 90%;
  opacity: 0;
  transition: opacity 1500ms ease-in;
  padding-left: 1.5em;

  li {
    margin-bottom: 1em;
    font-size: $base-size * 1.5;

    &:last-child { margin-bottom: 0;}
  }

  &.definition-list--active { opacity: 1; }
}

@keyframes bounce {
  0%, 20%, 50%, 80%,
  100% {
    transform: translateY(0) rotate(-135deg);
  }

  40% {
    transform: translateY(-$base-size * 0.5) rotate(-135deg);
  }

  60% {
    transform: translateY(-$base-size * 0.25) rotate(-135deg);
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets or larger: */
  .definition-list {
    margin-left: 35vh;
    top: 55%;
    width: 30vw;
  }

  .landing-page hr {
    position: absolute;
    bottom: -1vh;
    left: 0;
    right: 0;
  }

  .landing-page__left { width: 60%; }

  .landing-page__right { width: 40%; }

  .landing-page__right img {
    opacity: 0;
    margin-top: 30vh;
  }

  .landing-page {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop if needed: */
}
