.browser-partner-page {
  .browser-partner-page__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20vh 0;
  }
}

hr {
  width:50%;
  margin:0 auto;
  border: 1px solid var(--secondary);
}
