.post-sidebar__wrapper {
  display: none;
}

.post-container {
  margin-top: 10vh;
}

.post-sidebar {
  position: sticky;
  top: 10vh;
  width: max-content;
  text-align: right;

  a {
    display: block;
    font-size: $base-size * 1.5;
    font-weight: lighter;

    i {
      margin-left: 0.5rem;
    }

    &:last-child {
      margin-top: 1.5rem;

      span {
        margin-right: 0.5rem;
      }
    }
  }
}

.post-content {
  margin-left: auto;
  padding: 0 4vw;
}


.post-content__banner {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  border-radius: 2px;
}

.post-content__header h2 {
  margin: 2rem 0;
}

.post-content__header:first-child h2 {
  margin: 0;
}

.post-content__header-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.post-content__header-info-left, .post-content__header-info-right {
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
}

.post-content__header-info-left {
  img {
    border-radius: 50%;
    height: 2rem;
    margin-right: 0.5rem;
  }
  p span {
    display: none;
  }
}

.post-content__header-info-right {
  i {
    margin-left: 1rem;
    font-size: $base-size * 1.5;
    cursor: pointer;
  }
}

.post-content__body {
  margin-bottom: 3rem;

  li::marker {
    color: var(--primary);
  }

  h3 {
    margin: 2rem 0;
  }

  a {
    text-decoration: underline;
  }

  p {
    word-break: break-word;
  }

  p, li {
    @extend .wide-text;
  }

  ul {
    padding-left: 2rem;
  }

  li {
    margin-bottom: 1rem;
  }

  .gist {
    margin: 2rem 0;
  }

  code {
    background-color: rgba(242, 242, 242, 1);
    padding: 2px 4px;
    font-size: $base-size;
    border-radius: 2px;
    color: $black;
  }

  .code-block {
    background-color: rgba(242, 242, 242, 1);
    padding: 1.5rem;
    border-radius: 2px;
    margin-bottom: 1rem;

    code {
      padding: 0;
    }

    span {
      padding-left: 2rem;
    }

  }

  .content__img {
    margin-top: 3rem;
    margin-bottom: 3rem;

    img {
      display: block;
      border-radius: 0.125rem;
      max-width: 100%;
      margin: 0 auto;
    }

    p {
      font-size: 0.75rem;
      text-align: center;
    }
  }

  // Added when using the markdown package
  markdown {
    white-space: pre-line;

    &.js-parsed {
      white-space: initial;
    }

    code {
      background-color: none;
      max-width: 100%;
      overflow: scroll;
    }

    pre code {
      display: inline-block;
    }
  }
  p > img + p > em {
    color: blue;
  }

  markdown p img {
    display: block;
    border-radius: 0.125rem;
    max-width: 100%;
    margin: 1rem auto;
  }

  markdown blockquote {
    margin: 1.875rem;

    p {
      font-size: $base-size * 1.5;
      margin: 0;
      padding-left: 1.875rem;
    }
  }

  markdown h6 {
    text-align: center;
    margin-top: 0;
    font-size: 1rem;
    font-weight: lighter;
    opacity: 0.7;
  }

  pre {
    background-color: rgba(242, 242, 242, 1);
    padding: 1.5rem;
    border-radius: 2px;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile: */

}

@media only screen and (min-width: 600px) {
  /* For tablets or larger: */
  .post-sidebar__wrapper {
    display: block;
  }

  .post-container {
    margin-top: 15vh;
    display: flex;
  }

  .post-content {
    width: 65%;
    margin-right: 8vw;
    padding: 0;
  }

  .post-content__banner {
    height: 50vh;
  }

  .post-content__header-info-left {
    p span {
      display: inline-block;
    }

    img {
      margin-right: 1rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop if needed: */

}
