.browser-team-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .browser-team-page__body {
    min-height: 90vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
}
