.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4vw;
}

.definition-list {
  position: absolute;
  top: 52vh;
  width: 90%;
  opacity: 0;
  transition: opacity 1500ms ease-in;
  padding-left: 1.5em;

  li {
    margin-bottom: 1em;
    font-size: $base-size * 1.5;

    &:last-child { margin-bottom: 0;}
  }

  &.definition-list--active {
    opacity: 1;
  }
}
